Repository Hankanman/Area-Occupancy-Detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, test-core

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
          - --verbose
          - --skip-magic-trailing-comma
          - --target-version
          - py312
        files: ''
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - pycodestyle==2.8.0
          - pyflakes==2.4.0
          - flake8-docstrings==1.6.0
          - pydocstyle==6.1.1
          - flake8-comprehensions==3.10.0
          - flake8-noqa==1.2.8
          - mccabe==0.6.1
        files: ''
  - repo: local
    hooks:
      - id: validate-environment
        name: Validate Development Environment
        entry: python scripts/validate-env
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff-check
        name: Ruff Linting
        entry: python -m ruff check
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: Ruff Formatting
        entry: python -m ruff format --check
        language: system
        types: [python]
        pass_filenames: false

      - id: test-core
        name: Run Core Tests
        entry: pytest tests/test_coordinator.py tests/test_service.py -x --tb=short
        language: system
        pass_filenames: false
        files: ^(custom_components/|tests/).*\.py$

Refactor pre-commit configuration and update testing dependencies
  .github/workflows/test.yml
  .pre-commit-config.yaml
  custom_components/area_occupancy/__init__.py
  custom_components/area_occupancy/binary_sensor.py
  custom_components/area_occupancy/config_flow.py
  custom_components/area_occupancy/coordinator.py
  custom_components/area_occupancy/data/config.py
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/data/entity_type.py
  custom_components/area_occupancy/data/likelihood.py
  custom_components/area_occupancy/data/prior.py
  custom_components/area_occupancy/data/purpose.py
  custom_components/area_occupancy/migrations.py
  custom_components/area_occupancy/number.py
  custom_components/area_occupancy/sensor.py
  custom_components/area_occupancy/service.py
  custom_components/area_occupancy/storage.py
  custom_components/area_occupancy/utils.py
  docs/development-environment.md
  docs/room_occupancy_app.py
  pylint/plugins/hass_enforce_class_module.py
  pylint/plugins/hass_enforce_sorted_platforms.py
  pylint/plugins/hass_enforce_super_call.py
  pylint/plugins/hass_enforce_type_hints.py
  pylint/plugins/hass_imports.py
  pylint/plugins/hass_inheritance.py
  requirements_test.txt
  scripts/validate-env
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_data_config.py
  tests/test_data_decay.py
  tests/test_data_entity.py
  tests/test_data_likelihood.py
  tests/test_data_prior.py
  tests/test_init.py
  tests/test_migrations.py
  tests/test_service.py
Due: ruff-check, ruff-format, test-core

Implement numeric sensor statistics updates and service integration
  custom_components/area_occupancy/coordinator.py
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/data/entity_type.py
  custom_components/area_occupancy/data/statistics.py
  custom_components/area_occupancy/service.py
  custom_components/area_occupancy/services.yaml
  requirements.txt
Due: ruff-check, ruff-format, test-core

Enhance entity data handling with class and category properties
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/data/statistics.py
  custom_components/area_occupancy/service.py
Due: ruff-check, ruff-format, test-core

Add apply_decay function and refactor Bayesian probability handling
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/data/statistics.py
  custom_components/area_occupancy/utils.py
  tests/test_data_entity.py
  tests/test_utils.py
Due: ruff-check, ruff-format, test-core

Refactor entity data handling and enhance likelihood calculations
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/data/likelihood.py
  custom_components/area_occupancy/service.py
  custom_components/area_occupancy/utils.py
Due: ruff-check, ruff-format, test-core

Update tests for service registration and enhance utility functions
  tests/test_service.py
  tests/test_utils.py
Due: ruff-check, ruff-format, test-core

Enhance decay half-life handling in area occupancy configuration
  custom_components/area_occupancy/config_flow.py
  custom_components/area_occupancy/strings.json
  custom_components/area_occupancy/translations/en.json
Due: ruff-check, ruff-format, test-core

Update area occupancy component version to 2025.6.1
  custom_components/area_occupancy/const.py
  custom_components/area_occupancy/manifest.json
Due: ruff-check, ruff-format, test-core

docs: clarify purpose and services
  README.md
  docs/docs/features/decay.md
  docs/docs/features/likelihood.md
  docs/docs/features/purpose.md
  docs/docs/features/services.md
  docs/docs/getting-started/configuration.md
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

Update dependencies and refine GitHub workflows
  .github/dependabot.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
  pylint/plugins/hass_decorator.py
  pylint/plugins/hass_enforce_class_module.py
  pylint/plugins/hass_enforce_sorted_platforms.py
  pylint/plugins/hass_enforce_super_call.py
  pylint/plugins/hass_enforce_type_hints.py
  pylint/plugins/hass_imports.py
  pylint/plugins/hass_inheritance.py
  pylint/plugins/hass_logger.py
  pylint/ruff.toml
  requirements.txt
  requirements_test.txt
  scripts/setup
  scripts/test
  scripts/test-ci-local
  scripts/validate-env
Due: ruff-check, ruff-format

Update area occupancy documentation to reflect service name changes and enhance details
  docs/docs/features/services.md
Due: none

Rename EntitiesSensor to EvidenceSensor for clarity and update related tests accordingly
  custom_components/area_occupancy/sensor.py
  tests/test_sensor.py
Due: ruff-check, ruff-format, test-core

Refactor setup script and update devcontainer configuration
  .devcontainer.json
  scripts/setup
Due: none

Add additional probability fusion methods.
  custom_components/area_occupancy/coordinator.py
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/sensor.py
  custom_components/area_occupancy/utils.py
Due: ruff-check, ruff-format, test-core

Fix bug where conditional probability methods where not considering decay now calculates effective evidence, considering both evidence and decay state, before calculation.
  custom_components/area_occupancy/sensor.py
  custom_components/area_occupancy/utils.py
Due: ruff-check, ruff-format, test-core

Update version to 2025.7.1-pre2 and enhance probability calculations
  custom_components/area_occupancy/const.py
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/data/prior.py
  custom_components/area_occupancy/manifest.json
  custom_components/area_occupancy/utils.py
  tests/test_data_entity.py
  tests/test_data_prior.py
  tests/test_utils.py
Due: ruff-check, ruff-format, test-core

Add temperature, humidity, and illuminance entity types with corresponding configurations
  custom_components/area_occupancy/data/entity.py
  custom_components/area_occupancy/data/entity_type.py
  tests/test_data_entity.py
Due: ruff-check, ruff-format, test-core

Update software version to 2025.7.1 in const.py and manifest.json
  custom_components/area_occupancy/const.py
  custom_components/area_occupancy/manifest.json
Due: ruff-check, ruff-format, test-core

Add downloads badge workflow
  .github/workflows/downloads.yml
  README.md
Due: none

Update downloads.yml
  .github/workflows/downloads.yml
Due: none

Update README.md
  README.md
Due: none
